**/*

!.gitattributes
!.gitignore

!package.json
!package-lock.json
!README.md
!tsconfig.json
!tsconfig.test.json
!tslint.json

!definitions
!definitions/**/*

!public
!public/**/*

!scripts
!scripts/prepush.ps1

!src
!src/**/*
